<?php
// Server Info
$bot->host = "localhost";
$bot->port = "6667";

// Nick & Nickserv Password
$bot->nick = "slowbot";
$bot->pass = "nickservpassword";

// Channels to Join
$bot->channels = array("#711chan", "#phpircd", "#fm");

// Oper pass, if needed.
$bot->oper = "";

// Bot Admins. Currently only nick-based.
$bot->admins = array("serena", "slowbro");

// Accept user input?
$cf['input'] = true;

###########
# TWITTER #
###########
//log into twitter
//go to https://dev.twitter.com/apps/new
//register a new app. make sure you select 'client' and 'read and write'
//put consumer keys here
define('consumer_key', 'C_KEY');
define('consumer_secret', 'C_SECRET');

// click on my access token on the right (same page as cosumer keys)
//put them here
define('oauth_token', 'TOKEN_HERE');
define('oauth_token_secret', 'TOKEN_SECRET_HERE');

?>
